<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>로그인</h1>

<form action="/login" method="post">
    <label for="account">아이디:</label>
    <input type="text" id="account" name="account" required>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">로그인</button>
</form>

<button onclick="window.location.href='/signup'">회원가입 페이지 이동</button>
</body>
</html>
