<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>SignUp</h1>
<h3>이미 존재하는 아이디 입니다.</h3>
<button onclick="window.location.href='/signup'">회원가입 이동</button>
<button onclick="window.location.href='/login'">로그인 이동</button>
</body>
</html>
